@charset "UTF-8";
.container-404 {
  background: #00d0ff;
  color: white;
  text-align: center;
  padding: 2em;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px; }
  .container-404-title {
    font-size: 100px;
    margin: 0; }
  .container-404-message {
    font-family: 'Courier New', Courier, monospace;
    margin: 0; }
    .container-404-message > a {
      color: #f4b71d; }
      .container-404-message > a::after {
        content: ' --Después'; }
      .container-404-message > a::before {
        content: 'Antes-- '; }
